# ✅ LangChain ecosystem
langchain==0.1.17
langchain-core==0.1.52
langchain-community==0.0.29
langchain-openai==0.0.5
langchain-text-splitters==0.0.1
langchain-huggingface==1.0.1
langchain-chroma==0.1.1
langchain-groq==0.3.8

# ✅ Vector DB + Transformers
chromadb==0.4.24
sentence-transformers==2.2.2
faiss-cpu==1.7.4

# ✅ Utility + App
python-dotenv
ipykernel
pypdf
bs4
streamlit
fastapi
uvicorn
sse-starlette
pandas
duckdb
duckduckgo-search
pymupdf
arxiv
wikipedia
smolagents
ddgs
